<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSGridLayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0262BA61EEB95B100C362DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0262BBF1EEB95B100C362DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0262BCA1EEB95B100C362DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
